// font-family: 'Pacifico', cursive;
// font-family: 'Quicksand', sans-serif;

body
	font-family: Oxygen
	font-weight: 100

.banderas
	background-color: #DB0029
	padding: 1rem 0
	.item-container
		display: flex;
		justify-content: space-between;
		.item
			rr tt
			a
				color white

.hero
	background-color: #F0EEE2
	.contenido
		margin 0 auto
		max-width: 500px
		//background-color: red
		text-align: center;
		// color white
		// font-family: 'Pacifico', cursive;
		// font-weight: normal
		padding-top: 4rem
		padding-bottom: 4rem
		p
			font-size: 2rem

.subscribete
	background: url() no-repeat #47738C
	padding-top: 3rem
	padding-bottom: 3rem
	min-height: 200px
	text-align: center
	h2
		font-weight: 900
		color white
	p
		color white
		max-width: 500px
		margin: 0 auto

.footer
	background: url() no-repeat #e0e0e0
	padding-top: 4rem
	padding-bottom: 4rem
	min-height: 200px
	img
		max-width: 100%

.cognito .c-forms-form
	background-color: transparent !important
	margin: 0 auto !important
.c-forms-form-body
	// background-color: red !important
	max-width: 500px
	margin 0 auto !important
	.c-editor
		input
			width: 100% !important
	.c-email
		width: 100% !important

.c-action
	width: 100% !important

form + div
	// border 1px solid red !important
	height: 0px !important
	max-height: !important
	overflow: hidden !important
